@using WebApplication.Web.Models.Account;
@model ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
}

<h2 class="h2">Change Your Password</h2>

<form class="form-horizontal" asp-controller="Account" asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label class="control-label col-sm-5" asp-for="ExistingPassword">Current Password</label>
        <input type="password" asp-for="ExistingPassword" />
        <span asp-validation-for="ExistingPassword"></span>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-5" asp-for="Password">Password</label>
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-5" asp-for="ConfirmPassword">Confirm Password</label>
        <input type="password" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <input type="hidden" asp-for="Salt" />
    </div>
    <div>
        <input type="hidden" asp-for="Role" />
    </div>
    <div>
        <input type="hidden" asp-for="Id" value="@Model.Id" />
    </div>
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-10">
            <input type="submit" value="Change Password" class="btn btn-default, button" />
        </div>
    </div>
</form>
