@using WebApplication.Web.Models.Account;
@model ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
}

<div id="container" class="container-fluid border-color">
    <h2 class="h2 font-color">Change Your Password</h2>
    <form class="form-horizontal" asp-controller="Account" asp-action="ChangePassword" method="post">
        <div class="form-group">
            <label id="labels" class="col-sm-3 col-md-3 col-lg-3 control-label font-color" asp-for="ExistingPassword">Current Password:</label>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <input type="password" class="form-control" asp-for="ExistingPassword" />
                <span asp-validation-for="ExistingPassword"></span>
            </div>
        </div>
        <div class="form-group">
            <label id="labels" class="col-sm-3 col-md-3 col-lg-3 control-label font-color" asp-for="Password">Password:</label>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <input type="password" class="form-control" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="form-group">
            <label id="labels" class="col-sm-3 col-md-3 col-lg-3 control-label font-color" asp-for="ConfirmPassword">Confirm Password:</label>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <input type="password" class="form-control" asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
        </div>
        <div>
            <input type="hidden" asp-for="Salt" />
        </div>
        <div>
            <input type="hidden" asp-for="Role" />
        </div>
        <div>
            <input type="hidden" asp-for="Id" value="@Model.Id" />
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-5">
                <label class="control-label">
                    <input type="submit" value="Change Password" class="btn btn-default, button" />
                </label>
                
            </div>
        </div>
    </form>
</div>
<style scoped>
    .navbar {
        display: none
    }
    .h2 {
        display: flex;
        justify-content: center;
        width: auto;
    }
    .button {
        background-color: magenta;
        color: white;
    }
    .margin-left1 {
        margin-left: 05px;
    }
    .font-color {
        color: magenta;
    }
    .font-color2 {
        color: #00f6ed;
    }
    .border-color {
        border: ridge;
        border-color: #00f6ed;
    }
    #container {
        margin-top: 100px;
        background-color: darkslateblue;
        width: 500px;
        height: auto;
        box-shadow: 05px 05px 05px purple;
    }
    #labels {
        padding-top: 10px;
    }
    #fields {
        padding: 10px;
    }
    .font-family {
        display: flex;
        justify-content: center;
        font-family: 'Racing Sans One', cursive;
        font-size: medium;
    }
</style>
