@model User
@{
    ViewData["Title"] = "Confirmation";
}

<h2>Confirmation: Change Complete.</h2>

@if (Model == null)
{
    <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
    
}
else
{
    
    <li><a asp-area="" asp-controller="Account" asp-action="Profile">Profile</a></li>
    <li><a asp-area="" asp-controller="Account" asp-action="UpdateInfo">Update Account</a></li>
    <li><a asp-area="" asp-controller="Account" asp-action="Logoff">Logout</a></li>
}


