@model User
@{
    ViewData["Title"] = "Confirmation";
}


<div id="container" class="container-fluid border-color">
    <h2 class="h2 font-color">Confirmation: Change Complete.</h2>
    <div>
        @if (Model == null)
        {
            <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>

        }
        else
        {

            <li><a asp-area="" asp-controller="Account" asp-action="Profile">Profile</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="UpdateInfo">Update Account</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Logoff">Logout</a></li>
        }
    </div>
</div>



<style>

    #para-center {
        display: flex;
        justify-content: center;
    }

    .button {
        background-color: dodgerblue;
        color: white;
    }
</style>


<style scoped>

    .h2 {
        display: flex;
        justify-content: center;
        width: auto;
    }

    .h4 {
        display: flex;
        justify-content: center;
        width: auto;
        color: white;
    }

    .button {
        background-color: magenta;
        color: white;
    }

    .margin-left1 {
        margin-left: 05px;
    }

    .font-color {
        color: magenta;
    }

    .font-color2 {
        color: #00f6ed;
    }

    .border-color {
        border: ridge;
        border-color: #00f6ed;
    }

    #container {
        margin-top: 100px;
        background-color: darkslateblue;
        width: 50%;
        height: 75%;
        box-shadow: 05px 05px 05px purple;
    }

    #labels {
        padding-top: 10px;
    }

    #fields {
        padding: 10px;
    }

    .font-family {
        display: flex;
        justify-content: center;
        font-family: 'Racing Sans One', cursive;
        font-size: medium;
    }
</style>

