@using WebApplication.Web.Models.Account;
@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

@{
    if (TempData["Status"] != null)
    {
        <h1>@TempData["Status"]</h1>

    };
}

<!DOCTYPE html>


  
    <div class="col-md-offset-1">
        <a asp-area="" class="font-color"asp-controller="Account" asp-action="ProfileEdit"><i class="far fa-edit pull-left img-rounded"></i> Edit Existing Profile</a>
    </div>

    <form class="form-horizontal col-md-offset-1" asp-controller="Account" asp-action="ProfileCreate" method="post">
        <div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="Username" />
            <input type="hidden" asp-for="AvatarName" />
        </div>
        <div class="form-group container bg-1 text-center">
            <h3 class="margin"><label asp-for="UserBio">Bio: </label></h3>
            <textarea type="text" class="form-control margin" rows="3" asp-for="UserBio"></textarea>
            
        </div>
        <div class="form-group container bg-1 text-center">
            <h3 class="margin"><label asp-for="GamingExperience">Gaming Experience: </label></h3>
            <select asp-for="GamingExperience" class="form-control margin" asp-items="ProfileViewModel.ExperienceLevel"></select>
        </div>
        <div class="form-group container bg-1 text-center">
            <h3 class="margin"><label asp-for="Games">Games I Play: </label></h3>
            <partial name="_GamesListView" model="Model" />
        </div>
        <div class="form-group container bg-1 text-center">
            <h3 class="margin"><label asp-for="Genres">Genres I Like: </label></h3>
            <partial name="_GenresListView" model="Model" />
        </div>
        <div class="form-group container bg-1 text-center">
            <h3 class="margin"><label asp-for="ContactPreference">Contact Preference: </label></h3>
            <input class="form-control margin" asp-for="ContactPreference" />
        </div>
        <div class="form-group container bg-1 text-center">
            <h3 class="margin"><label  asp-for="OtherInterests">Other Interests: </label></h3>
            <input class="form-control margin" asp-for="OtherInterests" />
        </div>
        <div class="form-group container bg-1 text-center">
            <h3 class="margin"><label class="control-label col-sm-5" asp-for="IsPrivate">Make Profile Private: </label></h3>
            <input class="form-control margin" asp-for="IsPrivate" />
        </div>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-10">
                <input type="submit" value="Publish Profile" class="btn btn-default, button" />
            </div>
        </div>
    </form>

<style>
    .font-color {
        color: deepskyblue;
        font-weight: 600;
    }
    body {
        font: 20px Montserrat, sans-serif;
        line-height: 1.8;
        color: #0F1108;
    }

    p {
        font-size: 16px;
    }

    .margin {
        margin-bottom: 10px;
    }

    .bg-1 {
        background-color: #00F6ED; /* Turquoise */
        color: #0F1108;
    }

    .bg-2 {
        background-color: #0F1108; /* Smoky Black */
        color: #E5E5E5;
    }

    .bg-3 {
        background-color: #E5E5E5; /* Platinum */
        color: #0F1108;
    }

    .bg-4 {
        background-color: #0F1108; /* Black Gray */
        color: #E5E5E5;
    }

    .container-fluid {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .navbar {
        padding-top: 15px;
        padding-bottom: 15px;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        font-size: 12px;
        letter-spacing: 5px;
    }

    .navbar-nav li a:hover {
        color: #FF7B00 !important; /* Heat Wave */
    }
</style>
