@using WebApplication.Web.Models.Account;
@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

@{
    if (TempData["Status"] != null)
    {
        <h1>@TempData["Status"]</h1>

    };
}


<div>
    <a asp-area="" class="font-color col-md-offset-2" asp-controller="Account" asp-action="ProfileEdit"><i class="far fa-edit pull-left img-rounded"></i> Edit Existing Profile</a>
</div>
<form id="container" class="col-md-offset-2 border-color" asp-controller="Account" asp-action="ProfileEdit" method="post">
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="Username" />
            <input type="hidden" asp-for="AvatarName" />
       
        <div class="form-group">
                <label class="margin font-color" asp-for="UserBio">Bio: </label>
                <textarea type="text" class="form-control" rows="3" asp-for="UserBio"></textarea>
                
        </div>
        <div class="form-group">
            <label class="margin font-color" asp-for="GamingExperience">Gaming Experience: </label>
            <select asp-for="GamingExperience" class="form-control" asp-items="ProfileViewModel.ExperienceLevel"></select>
        </div>
        <div class="form-group">
            <label class="margin font-color" asp-for="GamesSelected">Games I Play: </label>
            <partial name="_GamesListView" class="col-md-1" model="Model" />
            <label class="margin font-color" asp-for="GenresSelected">Genres I Like: </label>
            <partial name="_GenresListView" class="form-control" model="Model"/> 
        </div>
      
        <div class="form-group">
            <label class="margin font-color"asp-for="ContactPreference">Contact Preference: </label>
            <input class="form-control" asp-for="ContactPreference"/>
        </div>
        <div>
            <label class="margin font-color"asp-for="OtherInterests">Other Interests: </label>
            <input class="form-control" asp-for="OtherInterests"/>
        </div>
        <div class="form-group">
            <label class="margin font-color" asp-for="IsPrivate">Make Profile Private: </label>
            <input asp-for="IsPrivate"/>
        </div>
        <div>
            <div>
                <input type="submit" value="Publish Profile" class="btn btn-default, button" />
            </div>
        </div>
</form>



<style>

    p {
        font-size: 16px;
    }
    .margin1{
        margin: 05px;
    }
    .margin {
        margin-bottom: 10px;
    }
    .font-color {
        color: deepskyblue;
        font-weight: 600;
    }
    .border-color {
        border: ridge;
        border-color: #00f6ed;
    }
    #container{
        padding-top: 5%;
        padding-bottom: 5%;
        margin-top: 35px;
        background-color: purple;
        width: 68%;
        height: auto;
        box-shadow: 05px 05px 05px purple;
    }

    #navbar {
        padding-top: 15px;
        padding-bottom: 15px;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        font-size: 12px;
        letter-spacing: 5px;
    }

    #navbar-nav li a:hover {
        color: #FF7B00 !important; /* Heat Wave */
    }
</style>
