@using WebApplication.Web.Models.Account;
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}
<div class="col-md-12" >
    <form class="col-md-pull-1 container border-color" asp-controller="account" asp-action="register" method="post">
        <div class="row">
            <h2 id="header" class="col-md-pull-1 h2 font-color">Register</h2>
        </div>
        <div class="row">
            @*<label id="labels" class="col-sm-3 col-md-3 col-lg-3 control-label font-color" asp-for="Username">Username:</label>*@
            <div class="col-md-4">
                <input id="fields" asp-for="Username" placeholder="Create username"/>
                <span asp-validation-for="Username" style="color: deepskyblue"></span>
            </div>
        </div>
        <div class="row">
            @*<label id="labels" class="col-sm-3 col-md-3 col-lg-3 control-label font-color" asp-for="Email">Email:</label>*@
            <div class="col-md-4">
                <input id="fields" type="email" asp-for="Email" placeholder="Email"/>
                <span asp-validation-for="Email" style="color: deepskyblue"></span>
            </div>
        </div>
        <div class="row">
            @*<label id="labels" class="col-sm-3 col-md-3 col-lg-3 control-label font-color" asp-for="Password">Password:</label>*@
            <div class="col-md-4">
                <input id="fields" type="password"  asp-for="Password" placeholder="Password"/>
                <span asp-validation-for="Password" style="color: deepskyblue"></span>
            </div>
        </div>
        <div class="row">
            @*<label id="labels" class="col-sm-3 col-md-3 col-lg-3 control-label font-color" asp-for="ConfirmPassword">Confirm Password:</label>*@
            <div class="col-md-4">
                <input id="fields" type="password" asp-for="ConfirmPassword" placeholder="Cofirm Password" />
                <span asp-validation-for="ConfirmPassword" style="color: deepskyblue"></span>
            </div>
        </div>
        <div>
            <input type="hidden" asp-for="Salt" />
        </div>
        <div>
            <input type="hidden" asp-for="Role" />
        </div>
        <div class="row">

            @*<label id="labels" class="col-sm-3 col-md-3 col-lg-3 control-label font-color" asp-for="Zipcode">Zip Code:</label>*@
            <div class="col-md-4">
                <input id="fields" asp-for="Zipcode" placeholder="Zip Code" />
                <span asp-validation-for="Zipcode" style="color: deepskyblue"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input id="fields" type="submit" value="Register" class="btn btn-default, button" />
            </div>

        </div>
    </form>
</div>

<style scoped>
    .col-md-4 {
        margin-left: 20px;
    }
    .navbar {
        display: none
    }
    .h2 {
        display: flex;
        justify-content: center;
        width: auto;
    }
    .button {
        background-color: magenta;
        color: white;
    }

    .font-color {
        color: deepskyblue;
        font-weight: 600;
    }
    .border-color {
        border: ridge;
        border-color: #00f6ed;
    }
    .container {
        margin-top: 35px;
        background-color: rgba(72, 61, 139, 0.50);
        width: 25%;
        height: auto;
        box-shadow: 05px 05px 05px purple;
    }
    .button {
        background-color: magenta;
        color: white;
        width: 180px;
    }
    .font-color2 {
        text-align: left;
        color: magenta;
        margin-top: 100px;
        background-color: darkslateblue;
        width: 50%;
        height: 75%;
        box-shadow: 05px 05px 05px purple;
    }
    #labels {
        padding-top: 10px;
    }

    #fields {
        margin-left: 05px;
        margin-top: 05px;
        margin-bottom:05px;
        margin-right: 0px;
    }
    .font-family {
        display: flex;
        justify-content: center;
        font-family: 'Racing Sans One', cursive;
        font-size: larger;
        font-weight: 600;
    }
</style>
@*style moved to site wide css*@