@using WebApplication.Web.Models.Profile;
@model SearchModel
@{
    ViewData["Title"] = "Search";
}
<div class="col-md-12">
    
    <form id="container" class="container border-color" asp-controller="profile" asp-action="SearchResults" method="get" style="justify-content:center">
        <div class="row">
            <h2 class="col-md-pull-1 h2 font-color">Search</h2>
            @*<h4 class="h4 font-color"></h4>*@
        </div>
        <div class="row">
            <div class="col-md-4">
                @*<label asp-for="@Model.searchParameter" class="font-color">Search</label>*@
                <input id="fields" asp-for="@Model.searchParameter" placeholder=" Search for matches" />
                <input id="fields" type="submit" value="Search" class="btn btn-default, button" />
            </div>
        </div>
    </form>
    
</div>

@*<style>
    .visibility {
        color: deeppink
    }
</style>*@


<style scoped>
    .col-md-4 {
        margin-left: 25px;
    }
    .h2 {
        display: flex;
        justify-content: center;
        width: auto;
    }
    .h4 {
        display: flex;
        justify-content: center;
        width: auto;
        color: white;
    }

    .button {
        background-color: magenta;
        color: white;
        width: 180px;
    }

    .margin-left1 {
        margin-left: 05px;
    }

    .font-color {
        color: deepskyblue;
        font-weight: 600;
    }

    .font-color2 {
        color: #00f6ed;
    }

    .border-color {
        border: ridge;
        border-color: #00f6ed;
    }

    #container {
        margin-top: 30px;
        background-color: rgba(72, 61, 139, 0.50);
        width: 25%;
        height: auto;
        box-shadow: 05px 05px 05px purple;
    }
    #fields {
        margin-left: 05px;
        margin-top: 05px;
        margin-bottom: 05px;
    }
    #labels {
        padding-top: 10px;
    }

    .font-family {
        display: flex;
        justify-content: center;
        font-family: 'Racing Sans One', cursive;
        font-size: medium;
    }
</style>

