@using WebApplication.Web.Models.Profile;
@model SearchResultsModel
@{
    ViewData["Title"] = "SearchResults";
}
<div class="col-md-12">
    <div id="container" class="container border-color">
        <div class="col-md-4">
            <div class="row">
                <h2 class="h2 font-color">Search Results</h2>
            </div>
            <div class="row">

                @if (Model.Results[0].Username == null)
                {
                    <h4 class="h4 font-color2">No Matching Gamers Were Found.</h4>
                }
                else
                {
                    <ul class="visibility font-color2">

                        @foreach (var gamer in Model.Results)
                        {
                            if (!gamer.IsPrivate)
                            {
                                <li class="visibility"><a class="font-color2" href="@Url.Action("GamerProfile", "Profile")?id=@gamer.ProfileId">@gamer.Username</a></li>
                            }
                        }
                    </ul>
                }

            </div>
        </div>
    </div>


</div>
@*<style>
        .visibility {
            color: deeppink
        }
    </style>*@

<style scoped>
    .col-md-4 {
        margin-left: 55px;
    }

    .h2 {
        display: flex;
        justify-content: center;
        width: auto;
    }

    .h4 {
        display: flex;
        justify-content: center;
        width: auto;
        color: white;
    }

    .button {
        background-color: magenta;
        color: white;
    }

    .margin-left1 {
        margin-left: 05px;
    }

    .font-color {
        color: deepskyblue;
    }

    .font-color2 {
        color: white;
    }

    .border-color {
        border: ridge;
        border-color: #00f6ed;
    }

    #container {
        margin-top: 60px;
        background-color: rgba(72, 61, 139, 0.5);
        width: 30%;
        height: auto;
        box-shadow: 05px 05px 05px purple;
    }

    #labels {
        padding-top: 10px;
    }

    #fields {
        padding: 10px;
    }

    .font-family {
        display: flex;
        justify-content: center;
        font-family: 'Racing Sans One', cursive;
        font-size: medium;
    }
</style>
