@using WebApplication.Web.Models.Profile;
@model SearchResultsModel
@{
    ViewData["Title"] = "SearchResults";
}

<h2>Search Results</h2>

<ul>
    @foreach (var gamer in Model.Results)
    {
        if (!gamer.IsPrivate)
        {
            <li><a asp-controller="Profile" asp-action="GamerProfile" asp-route="@gamer.ProfileId"> @gamer.Username</a></li>
        }
    }
</ul>