@using WebApplication.Web.Models.Profile;
@model SearchResultsModel
@{
    ViewData["Title"] = "SearchResults";
}

<h2 class="visibility">Search Results</h2>

<ul class="visibility">
    @foreach (var gamer in Model.Results)
    {
        if (!gamer.IsPrivate)
        {
            <li class="visibility"><a href="@Url.Action("GamerProfile", "Profile")?id=@gamer.ProfileId">@gamer.Username</a></li>
        }
    }
</ul>
<style>
    .visibility {
        color: deeppink
    }
</style>