@{
    ViewData["Title"] = "About";
}
<h2 class="h2">@ViewData["Title"]</h2>
<h3 class="h3">@ViewData["Message"]</h3>
<div id="para-center" >
<p class="text-justify">
    Are you an uber gamer looking for other uber gamers in your area! 
    Well MatchMadeInBeta is for you! As a MatchMadeInBeta member you'll be 
    able search for gamers in your area looking to create a clan for you favorite console, PC or Table games!
    
</p>
</div>

<style>

    #para-center{
        display: flex;
        justify-content: center;
    }
    .button {
        background-color: dodgerblue;
        color: white;
    }
</style>