@*@{
    ViewData["Title"] = "About";
}
<h2 class="h2">@ViewData["Title"]</h2>
<h3 class="h3">@ViewData["Message"]</h3>*@

<div class="col-md-12">
    <div id="container" class="container border-color">
        <div class="row">
            <h2 class="h2 font-color">About</h2>
        </div>
        <div class="row">
            <h5 class="h5 font-color" style="font-size: 24px">Are you an uber gamer looking for other uber gamers in your area!</h5>
        </div>
        <div class="row">
            <p class="margin p-tag">
              Well MatchMadeInBeta is for you! As a MatchMadeInBeta member you'll be
              able search for gamers in your area looking to create a clan for you favorite console, PC or Table games!

            </p>
        </div>
    </div>
    
    
</div>

<style>

    #para-center {
        display: flex;
        justify-content: center;
    }

    .button {
        background-color: dodgerblue;
        color: white;
    }
</style>


<style scoped>

    .h2 {
        display: flex;
        justify-content: center;
        width: auto;
    }

    .h5 {
        display: flex;
        text-align: center;
        width: auto;
        color: white;
    }
    .p-tag {
        display: flex;
        text-align: left;
        width: auto;
        color: white;
    }
    .button {
        background-color: magenta;
        color: white;
    }

    .margin {

        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .font-color {
        color: deepskyblue;
    }

    .font-color2 {
        color: deepskyblue;
    }

    .border-color {
        border: ridge;
        border-color: #00f6ed;
    }

    #container {
        margin-top: 55px;
        background-color: rgba(72, 61, 139, 0.5);
        width: 50%;
        height: auto;
        box-shadow: 05px 05px 05px purple;
    }

    #labels {
        padding-top: 10px;
    }

    #fields {
        padding: 10px;
    }

    .font-family {
        display: flex;
        justify-content: center;
        font-family: 'Racing Sans One', cursive;
        font-size: medium;
    }
</style>

