@{
    ViewData["Title"] = "About";
}
<h2 class="h2">@ViewData["Title"]</h2>
<h3 class="h2">@ViewData["Message"]</h3>

<p class="text-center">
    Are you an uber gamer looking othe uber gamers in your area! 
    Well MatchMadeInBeta is for you! Create a free account and profile then you'll be 
    able search gamers in you area looking to create a clan for you favorite console, PC or Table games!
</p>

<style>
    .h2 {
        display: flex;
        justify-content: center;
        width: auto;
    }

    .button {
        background-color: dodgerblue;
        color: white;
    }
</style>