@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>
<h3 class="h3">@ViewData["Message"]</h3>

<p>
    If you have any issues regarding registration, login, profile maintenance, conduct or website functionality, please
    don't hesitate to contact us! We at <strong>matchmadeinBETA</strong> want you to have an optimal experience and get
    the best gaming that you can!
</p>

<address>
    <strong>Questions, Comments, Concerns, Points of Interest</strong> <a href="mailto:matchmadeinbeta@gmail.com">matchmadeinbeta@gmail.com</a>
</address>
