@*@{
        ViewData["Title"] = "Contact";
    }

    <h2>@ViewData["Title"]</h2>
    <h3 class="h3">@ViewData["Message"]</h3>*@

<div id="container" class="container-fluid border-color">
    <h2 class="h2 font-color">Contact</h2>
    <div class="h4">
        If you have any issues regarding registration, login, profile maintenance, conduct or website functionality, please
        don't hesitate to contact us! We a matchmadeinBETA want you to have an optimal experience and get
        the best gaming that you can!
    </div>
    <div class="h4">
        If you have any issues regarding registration, login, profile maintenance, conduct or website functionality, please
        don't hesitate to contact us! We at matchmadeinBETA want you to have an optimal experience and get
        the best gaming that you can!
        </p>
        <div class="h4">
            Questions, Comments, Concerns, Points of Interest <a href="mailto:matchmadeinbeta@gmail.com">matchmadeinbeta@gmail.com</a>
            </div>

        </div>



        <style scoped>

            .h2 {
                display: flex;
                justify-content: center;
                width: auto;
            }

            .h4 {
                display: flex;
                justify-content: center;
                width: auto;
                color: white;
            }

            .button {
                background-color: magenta;
                color: white;
            }

            .margin-left1 {
                margin-left: 05px;
            }

            .font-color {
                color: magenta;
            }

            .font-color2 {
                color: #00f6ed;
            }

            .border-color {
                border: ridge;
                border-color: #00f6ed;
            }

            #container {
                margin-top: 100px;
                background-color: darkslateblue;
                width: 50%;
                height: 75%;
                box-shadow: 05px 05px 05px purple;
            }

            #labels {
                padding-top: 10px;
            }

            #fields {
                padding: 10px;
            }

            .font-family {
                display: flex;
                justify-content: center;
                font-family: 'Racing Sans One', cursive;
                font-size: medium;
            }
        </style>


