@*{
        ViewData["Title"] = "View";
        Layout = "Help";
    }*@
<div class="col-md-12">
    <div id="container" class="col-md-1 container border-color">
        <div class="row">
            <h2 class="h2 font-color">Help</h2>
        </div>
        <div class="row">
            <h5 class="h5 font-color" style="font-size: 24px">Frequently asked questions.</h5>
        </div>
        <div class="row">
            <p class="margin p-tag">
                1. How do I register for an account?
            </p>
            <p class="margin p-tag">
                Answer: Click on Create an Account. Create an Username, enter your email, create a password, and enter your zip code.
            </p>
            <p class="margin p-tag">
                2. What are the requirements for creating a Username?
            </p>
            <p class="margin p-tag">
                Answer: Your Username must be at least seven characters long.
            </p>
            <p class="margin p-tag">
                3. What are the requirements for entering a Email?
            </p>
            <p class="margin p-tag">
                Answer: Your Email must be a valid email address containing an the at symbol and end with a .com, .net, etc.
            </p>
            <p class="margin p-tag">
                4. What are the requirements for creating a Password?
            </p>
            <p class="margin p-tag">
                Answer: Your Password must be at least six characters long.
            </p>
            <p class="margin p-tag">
                5. What are the requirements for entering my Zip Code?
            </p>
            <p class="margin p-tag">
                Answer: Your Zip Code must be at least five digits long.
            </p>
            <p class="margin p-tag">
                6. How do I update my profile?
            </p>
            <p class="margin p-tag">
                Answer: After logging in. Click on Profile. From Profile click on Edit Profile link and fill out the Edit Profile form.
            </p>
        </div>
    </div>


</div>




<style>
    .h2 {
        display: flex;
        justify-content: center;
        width: auto;
    }

    .h5 {
        display: flex;
        justify-content: center;
        width: auto;
        color: white;
    }

    .p-tag {
        display: flex;
        text-align: left;
        width: auto;
        color: white;
    }

    .button {
        background-color: magenta;
        color: white;
    }

    .margin {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .font-color {
        color: deepskyblue;
    }

    .font-color2 {
        color: magenta;
    }

    .border-color {
        border: ridge;
        border-color: #00f6ed;
    }

    #container {
        margin-top: 55px;
        background-color: rgba(72, 61, 139, 0.9);
        width: 100%;
        height: auto;
        box-shadow: 05px 05px 05px purple;
    }

    #labels {
        padding-top: 10px;
    }

    #fields {
        padding: 10px;
    }

    .font-family {
        display: flex;
        justify-content: center;
        font-family: 'Racing Sans One', cursive;
        font-size: medium;
    }
</style>
