
@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-12">
    <div id="container" class="container border-color">
        <div class="row">
            <h1 class=" h1 font-color">matchmadeinBETA</h1>
        </div>
        <div class="row">
            <p class="margin">
                Wouldn't it be NIFTY if there was an app that could:
                let you set up and create a profile
                most importantly: lets users pick what kind of nerd-dom they would like to engage in:
                (students can create different categories based on interest)
                so, this app would be like bumble (a people/matchmaking app), but for games (video game/tabletop/rpg)?
                a safe and accessible way to group people together based on interest, location and availability to get together and play games that they enjoy!
            </p>
        </div>
    </div>

</div>
<style scoped>

    .h1 {
        display: flex;
        justify-content: center;
        width: auto;
    }

    .h4 {
        display: flex;
        justify-content: center;
        width: auto;
        color: white;
    }

    .margin {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        color: white
    }

    .button {
        background-color: magenta;
        color: white;
    }

    .margin-left1 {
        margin-left: 05px;
    }

    .font-color {
        color: deepskyblue;
    }

    .font-color2 {
        color: deepskyblue;
        font-weight: 600;
    }

    .border-color {
        border: ridge;
        border-color: #00f6ed;
    }

    #container {
        margin-top: 60px;
        background-color: rgba(72, 61, 139, 0.5);
        width: 50%;
        height: auto;
        box-shadow: 05px 05px 05px purple;
    }

    #labels {
        padding-top: 10px;
    }

    #fields {
        padding: 10px;
    }

    .font-family {
        display: flex;
        justify-content: center;
        font-family: 'Racing Sans One', cursive;
        font-size: medium;
    }
</style>