
@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-4 pull-left">
    <h1>matchmadeinBETA</h1>

    <p>
        Wouldn't it be NIFTY if there was an app that could:
        let you set up and create a profile
        most importantly: lets users pick what kind of nerd-dom they would like to engage in:
        (students can create different categories based on interest)
        so, this app would be like bumble (a people/matchmaking app), but for games (video game/tabletop/rpg)?
        a safe and accessible way to group people together based on interest, location and availability to get together and play games that they enjoy!
    </p>
</div>