@model WebApplication.Web.Models.Account.ProfileViewModel

<div class="row">
    <div class="col-sm-4 text-right">
        <select asp-for="GenresSelected" asp-items="@Model.Genres" class="well-sm well"></select>
    </div>
</div>